<template>
  <div class="container bg-[url('/img/test.png')]">
    <!-- header -->
    <div class="fixed top-0 left-0 right-0 bg-white shadow-lg rounded-b-[12px]">
      <div class="h-2 bg-gradient-to-r from-teal-600 to-sky-600"></div>
      <button class="float-right text-teal-600 hover:underline p-4">
        Login
      </button>
    </div>

    <!-- body -->
    <div class="h-96"></div>

    <ul class="flex flex-nowrap tabs" style="overflow-x: auto">
      <button
        @click="tab = 0"
        :class="tab === 0 ? 'bg-teal-400 text-white' : 'text-teal-400'"
        class="ml-6 rounded-l-[12px]"
      >
        Arbeitnehmer
      </button>
      <button
        @click="tab = 1"
        :class="tab === 1 ? 'bg-teal-400 text-white' : 'text-teal-400'"
        class=""
      >
        Arbeitgeber
      </button>
      <button
        @click="tab = 2"
        :class="tab === 2 ? 'bg-teal-400 text-white' : 'text-teal-400'"
        class="mr-6 rounded-r-[12px]"
      >
        Temporarburo
      </button>
    </ul>
    <div class="tabs-content">
      <div :class="tab === 0 ? '' : 'hidden'">
        <div class="title">
          Drei einfache Schritte <br />
          zu deinem neuen Job
          <div class="h-24"></div>
        </div>

        <div class="sub-title">
          <span class="text-9xl text-gray-500">1.</span>
          <span>Erstellen dein Lebenslauf</span>
          <div class="h-24"></div>
        </div>

        <div class="sub-title pl-16">
          <span class="text-9xl text-gray-500">2.</span>
          <span>Erstellen dein Lebenslauf</span>
          <div class="h-48"></div>
        </div>

        <div class="sub-title text-vertical-middle pl-28">
          <span class="text-9xl text-gray-500">3.</span>
          <span class=""> Mit nur einem Klick bewerben </span>
          <div class="h-48"></div>
        </div>
      </div>

      <div :class="tab === 1 ? '' : 'hidden'">
        <div class="title">
          Drei einfache Schritte <br />
          zu deinem neuen Job
          <div class="h-24"></div>
        </div>

        <div class="sub-title">
          <span class="text-9xl text-gray-500">1.</span>
          <span>Erstellen dein Unternehmensprofil</span>
          <div class="h-24"></div>
        </div>

        <div class="sub-title pl-16">
          <span class="text-9xl text-gray-500">2.</span>
          <span>Erstellen ein Jobinserat</span>
          <div class="h-48"></div>
        </div>

        <div class="sub-title text-vertical-middle pl-28">
          <span class="text-9xl text-gray-500">3.</span>
          <span>Wahle deinen neuen Mitarbeiter aus</span>
          <div class="h-48"></div>
        </div>
      </div>

      <div :class="tab === 2 ? '' : 'hidden'">
        <div class="title">
          Drei einfache Schritte <br />
          zu deinem neuen Job
          <div class="h-24"></div>
        </div>

        <div class="sub-title">
          <span class="text-9xl text-gray-500">1.</span>
          <span>Erstellen dein Unternehmensprofil</span>
          <div class="h-24"></div>
        </div>

        <div class="sub-title text-vertical-middle pl-16">
          <span class="text-9xl text-gray-500">2.</span>
          <span>Erhalte Vermittlungs angebot von Arbeitgeber</span>
          <div class="h-48"></div>
        </div>

        <div class="sub-title text-vertical-middle pl-28">
          <span class="text-9xl text-gray-500">3.</span>
          <span> Vermittlung nach Provision oder Studenlohn </span>
          <div class="h-48"></div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div
      class="fixed bottom-0 left-0 right-0 bg-white shadow-lg rounded-t-[12px]"
    >
      <div class="flex justify-center">
        <button
          class="bg-gradient-to-r from-teal-600 to-sky-600 text-white w-full m-6 p-2 rounded-[12px]"
        >
          Kostenlos Registrieren
        </button>
      </div>
    </div>
  </div>
</template>

<script src="https://unpkg.com/@themesberg/flowbite@1.3.0/dist/flowbite.bundle.js"></script>
<script>
import "tw-elements";
export default {
  data() {
    return {
      tab: 0,
    };
  },
};
</script>
<style scoped>
/* * {
  font-family: "Times New Roman", Times, serif !important;
} */
.tabs::-webkit-scrollbar {
  display: none;
}
.tabs button {
  padding: 8px 24px 8px 24px;
  border: 1px solid #334155;
}
.tabs-content {
  text-align: center;
}
.tabs-content .title {
  color: #334155;
  font-size: 20px;
}
.tabs-content .sub-title {
  color: #334155;
}
.text-vertical-middle span {
  vertical-align: middle;
  display: table-cell;
  text-align: left;
}
</style>
